---
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section className={Astro.props.className} title="Experience">
  <ul class="flex flex-col">
    {work.map(({ name, startDate, endDate, position, summary, highlights, url }) => {
      const startYear = new Date(startDate).getFullYear();
      const endYear = endDate != null ? new Date(endDate).getFullYear() : "Present";

      return (
        <li class="relative print:py-2">
          <div class="group relative grid pb-1 transition-all print:grid-cols-1 print:gap-1 sm:grid-cols-12 sm:gap-8 md:gap-6 lg:hover:!opacity-100">
            <header class="relative mt-1 text-xs font-semibold sm:col-span-12 sm:col-start-1 sm:text-right print:text-right">
              <time datetime={startDate} data-title={startDate}>{startYear}</time> - 
              <time datetime={endDate} data-title={endDate}>{endYear}</time>
            </header>
            <div class="relative flex flex-col pb-6 print:pb-0 before:-ml-6 sm:col-span-10 before:w-px print:before:hidden before:absolute before:left-[-35px] before:block before:h-full before:bg-skin-muted/50">
              <div class="flex flex-col sm:flex-row text-lg font-bold text-skin-base">
                <h3 class="font-mono">
                   {name}
                </h3>
                <span class="mx-2 max-sm:hidden"> — </span>
                <h4 class="font-mono text-skin-accent">{position}</h4>
              </div>
              
              <a href={url} target="_blank" class="text-sm text-skin-muted hover:text-skin-accent transition-colors w-max mb-2">
                {url}
              </a>

              <div class="relative flex flex-col gap-2 pb-4 text-skin-muted text-sm">
                <p>{summary}</p>
                {highlights && (
                    <ul class="list-disc list-inside mt-2 space-y-1">
                        {highlights.map(item => (
                            <li>{item}</li>
                        ))}
                    </ul>
                )}
              </div>
            </div>
          </div>
        </li>
      );
    })}
  </ul>
</Section>
